html,body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Mulish', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#selector_id{
    width: 100%;
    height: 100%;
    background-color: gray;
}

.Card{
    background-color: white;  
    width: calc(256px-32px);
    height: 340px;
    display: inline-block;
    margin: 16px;
    border: 4px solid #680a94; 
    border-radius: 12px;
    transition: box-shadow .25s, opacity .25s;
    padding:16px;
    opacity: .35;
}

.Card:hover {
    box-shadow: 0 16px 24px rgba(70, 3, 55, 0.33);
    opacity: 1;
}
.Card_dashed {
    border: 4px dashed #680a94;
}
.Card_radius-0{
    border-radius:0;
}
.Card_radius-7{
    border-radius: 7px;
}

.Card__image{
    height:120px;
    width:120px;
    /* box-shadow: 0 0 0 #680a94; */
    box-shadow: 2px 12px 5px rgb(70 3 55 / 0.16)
}

.Card__title{
    color:rebeccapurple;
    font-size:24px;
    font-weight:900;

}

.Card__info{
    color:black;
    font-size: 16px;
    font-weight: 400;
    opacity: .5;

}